@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
body {
  background: #232946;
  color: #fffffe
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}


.welcome-page {
  text-align: center;
  margin: 100px;
  padding-top: 170px;
}
.user-name {
  text-align: center;
  margin: 90px
}

label {
  color: #fffffe;
}

.user-listing {
  padding: 50px;
}

.top-bar {
  color: #232946;
}

ul {
  list-style-type: none;
}

a {
  color: #232946;
}

.form {
  margin: 20px ;
  padding: 50px;
}

.button {
  background-color: #eebbc3;
  color: #232946;
}

.form-button {
  display: flex;
  gap: 10px;
}

h1,h2,h3,h4,h5,h6 {
  color: #eebbc3
}

input[type=text] {
  background-color: rgb(198, 198, 198);
}

select {
  background-color: rgb(198, 198, 198);
}
