@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

// place global css here
body {
  background: #E0FFFF;
  color: #0E2954
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.grid-container {
  padding-top: 4%;
  width: 40%;
}

.welcome-page {
  text-align: center;
  margin: 50px;
  padding-top: 50px;
}

.welcome-message {
  font-weight: bold;
}

.user-name {
  text-align: center;
  margin: 30px
}

label {
  color: #0E2954;
  font-weight: bold;
}

.image-listing {
  padding: 50px;
}

.user-listing {
  padding: 10px
}

.top-bar,
.top-bar ul {
  color: white;
  background-color: #0E2954;
}

ul {
  list-style-type: none;
}

a {
  color: white;
}

.listing-form {
  margin: 20px;
  padding: 10px;
}

.button {
  background-color: #0E2954;
  color: white;
  border-radius: 20px;
}

.form-button,
.user-listing-button {
  display: flex;
  gap: 10px;
}

input[type=text],
input[type=password],
.form-dropdown {
  background-color: white;
  border-radius: 10px;
  border-color: #0E2954;
}

.form-data {
  width: 80%;
}

.delete,
.sold {
  font-size: 12px;
  padding: 5px;
  flex: 1;
  max-width: 90px;
  height: 25px;
  margin-top: auto;
}

form {
  width: 100%;
}

.product-discovery {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.category-dropdown {
  background-color: white;
  border-color: #0E2954
}

.search-input {
  border-color: #0E2954;
  width: 250px;
  padding: 9px 4px 9px 40px;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.search-input::placeholder {
  color: #0E2954;
}

.filtered-listing,
.category-listings {
  padding: 20px;
}

img {
  max-width: 150px;
  max-height: 150px;
}

.featured-images {
  overflow: hidden;
}

.image-container {
  margin: 5px;
  padding: 5px;
  width: 150px;
  height: 150px;

}

.image-container img {
  width: 100%;
  height: 100%;
}

.row {
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  animation: slide 100s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(calc(100% + 100px));
  }
}

.image-listing-details {
  display: inline-block;
  padding: 1%;
}

.safety-check {
  text-align: center;
  margin-top: 40%;
}

.listing-form {
  margin: 1% 3%;
}

.Message {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 300px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}

.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #0E2954;
  position: relative;
  cursor: pointer;
}

.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
  color: #0E2954
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
  color: #0E2954;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}

.hide {
  opacity: 0 !important;
}

.user-chats a {
  color: white
}

.tiles {
  font-size: 0;
  margin: 30px;
}

.listing-tile {
  height: 95%;
  border-style: solid;
  border-color: #121629;
  overflow-block: scroll;
  background-color: #fff;
  border-radius: 5%;
}

.full-image img {
  min-width: 500px;
  min-height: 400px
}

.listing-details {
  align-content: center;
  text-align: center;
  padding: 10%;
}

.listing-image {
  padding-left: 10%;
  padding-top: 10%;
}

.tile {
  padding-top: 2%;
}


.user-chat-container {
  border: 1px solid #0E2954;
  padding: 10px;
  margin: 5%;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.chat-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-chats-list {
  list-style: none;
  padding: 0;
}

.user-chats-list li {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.user-chats-list a {
  text-decoration: none;
  color: #333;
}

.chat-image img {
  width: 90%;
}

.chat-image {
  text-align: center;
  padding-bottom: 3%;
}

.message-box {
margin: 5%;
padding:0px 5%
}

.message-image {
  text-align: center;
  padding-bottom: 3%;
}

.message-image img {
  max-width: 300px;
  max-height: 300px;
}

.homepage-image img {
  max-width: 400px;
  max-height: 400px;
}

.homepage-image{
  text-align: center;
  padding-top: 0%;
  padding-bottom: 3%;
}






